@import "./nullstyle.css";

:root {
    --main: #fff;
    --hover: #86efac;
    --active: #22c55e;
}

.wraper {
    padding: 2rem;
}

.container {
    padding: 0 2rem;
    max-width: 60vw;
    margin: 0px auto;
}

.app {
}

.app-title {
    font-size: 2rem;
    line-height: 110%;
    margin-bottom: 1em;
    color: var(--main);
}

.accordion {
    display: flex;
    flex-direction: column;
}

.accordion:hover .accordion-button {
    opacity: 1;
    pointer-events: all;
    transition: all 0.3s ease;
}

.accordion:hover .accordion-header {
    color: var(--hover);
    transition: all 0.3s ease;
}
.accordion:hover .accordion-content {
    color: var(--hover);
    transition: all 0.3s ease;
}

/* .accordion .accordion-item:target .accordion-content,
.accordion .accordion-item:target .accordion-header {
    color: var(--main);
} */
.accordion:hover .accordion-item:target .accordion-content {
    color: var(--active);
}

.accordion-item {
    border-bottom: 1px solid #ccc;
    transition: all .3s ease;
}
.accordion-item:active > *{
    opacity: .5;
    transition: all .3s ease;
}

.accordion-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: 1.5rem;
    padding: 0.2rem 0;
    color: var(--main);
    transition: all 0.3s ease;
}
.accordion-button {
    width: 1rem;
    height: 1rem;
    background: url("../assets/svg/button.svg") center no-repeat;
    transform: rotate(45deg);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.accordion-content {
    height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.accordion-item:target .accordion-content {
    height: auto;
    padding: 1em 0;
    transition: all 0.3s ease;
}

.accordion-item:target .accordion-header {
    color: var(--active);
    transition: all 0.3s ease;
}
.accordion-item:target .accordion-content {
    color: var(--active);
    transition: all 0.3s ease;
}

.accordion-item:target .accordion-button {
    transform: rotate(0deg);
    transition: all 0.3s ease;
}
